/*
 * ::::::::::: Slider Revolution Custom Styles :::::::::::
 */
.tp-bgimg:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.tparrows {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tparrows.uranus {
  width: 45px;
  height: 45px;
  background-color: transparent !important;
}

.tparrows.uranus:before {
  font-family: 'Ionicons';
  font-size: 45px;
  font-size: 2.8125rem;
  width: 45px;
  height: 45px;
}

.tparrows.uranus.tp-rightarrow:before {
  content: '\f119';
}

.tparrows.uranus.tp-leftarrow:before {
  content: '\f117';
}

.tparrows.uranus:hover:before {
  color: white;
}

.hermes .tp-bullet {
  width: 10.5px;
  height: 10.5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.hermes .tp-bullet:hover, .hermes .tp-bullet.selected {
  background-color: white;
}

.hermes .tp-bullet:after {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tp-loader.spinner2 {
  background-color: #05c071;
}

.tp-caption.large_text {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-align: center;
  font-size: 70px !important;
  font-weight: normal !important;
  letter-spacing: 0 !important;
  line-height: 1.3 !important;
  text-shadow: none !important;
  font-weight: 600 !important;
}

.tp-caption.small_text {
  text-transform: capitalize;
  text-align: center;
  font-size: 23px !important;
  font-weight: normal !important;
  letter-spacing: 0 !important;
  text-shadow: none !important;
  font-weight: 600 !important;
  line-height: 1.2 !important;
}

.tp-caption.rev-scroll-btn {
  border-width: 1.5px !important;
  min-height: 44px !important;
  max-height: 44px !important;
  min-width: 26px !important;
  max-width: 26px !important;
}

.tp-caption.rev-scroll-btn span {
  width: 6px;
  height: 6px;
  margin: -4px 0 0 -3px;
}

.tp-caption.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 3em;
  padding-left: calc(2.5em - 1px) !important;
  padding-right: calc(2.5em - 1px) !important;
  text-transform: capitalize !important;
  color: white !important;
  font-weight: 600 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

.tp-caption.button:hover {
  background-color: white;
  color: #00c874 !important;
}

.tp-caption.button .icon i {
  font-size: 20px !important;
}

.tp-caption.button-caption-2 {
  margin: 50px 0 0 50px !important;
}

.tp-caption.button-caption-2 span {
  vertical-align: text-top !important;
  color: white;
  font-weight: 600 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

.tp-caption.button-caption-2 .icon {
  color: #02cb76;
  margin-top: 7px !important;
}

.tp-caption.button-caption-2 .icon.ripple-effect i {
  font-size: 20px !important;
}

.tp-caption.button-caption-2 .icon.ripple-effect:before, .tp-caption.button-caption-2 .icon.ripple-effect:after {
  border-color: rgba(255, 255, 255, 0.2);
}

.tp-caption.button-caption-2 .icon.ripple-effect:hover {
  background-color: #00c874;
  color: white;
}

.tp-caption.button-caption-2 .icon.ripple-effect:hover:before, .tp-caption.button-caption-2 .icon.ripple-effect:hover:after {
  border-color: #00c874;
}

/*# sourceMappingURL=../_maps/modules/slider-revolution.css.map */
