/* 
.body {
    
} */


#banner__wrapper {
    background-color: #eff3f4;
    background-image: url(src/assets/images/logo/favicon.png);
    background-position: center;
    background-size: cover;
}


.banner__content {
    position: relative;
    padding: 120px 0 200px 0;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 0px 375px;
}

.banner__wrapper h3 {
    margin-top: 20px;
}

/* #description__wrapper {

} */

.description p {
    padding: 50px;
    text-align: left;
    font-weight: 300;
    text-align: left;
    margin: 0px 375px;
}

/* test */