.span {
    margin: 0px 375px;
}

.banner__wrapper {
    position: relative;
    padding: 80px 0;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
}


.description p {
    text-align: left;
    font-weight: 300;
    text-align: left;
}
