body {
    padding: 0;
    margin: 0;
    color: #0a2540;
    font-family: 'Roboto', sans-serif;
  }
  
  .content-wrapper {
    max-width: 900px;
    margin: 0 auto;

  }

  nav {
    background-color: #f6f9fc;
    color: #0a2540;
    padding: 1em;
    border-bottom: 2px dotted #ccc;
    border-bottom-style: dotted;
    border-bottom-color: #ccc;
    border-width: 2px;
    border-spacing: 8px;
  }
  
  nav a {
    color: #0a2540;
    text-decoration: none;
    margin-right: 1em;
    font-size: .9rem;
  }

  .logo a {
    float: left;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a:hover, nav .btn:hover, .logo:hover {
    opacity: 0.7;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn {
    background-color: #0a2540; 
    border: none;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    cursor: pointer;
    border-radius: 36.5px;
  }


  .left-btn {
    background-color: #635bff;
    color: white;
  }

  .right-btn {
    background-color: #f6f9fc;
    color: #635bff;
    padding: 0;
    margin-left: 15px;
  }

 .left-btn:hover {
    background-color: black;
  }

  .right-btn:hover {
    color: black;
  }

  section {
    padding: 6rem;
  }
  
  section.bg-gray {
    background-color: #f4f4f4;
  }
  
  footer {
    background-color: #f6f9fc;
    color: #0a2540;
    padding: 1em;
    text-align: center;
    border-top: 2px dotted #ccc;
    border-top-style: dotted;
    border-top-color: #ccc;
    border-width: 2px;
    border-spacing: 8px;
  }

  
  #hero h1 {
    font-size: 5.5rem;
    margin-bottom: 2rem;
  }

  #hero {
    clip-path: polygon(100% 0, 100% 60%, 0 100%, 0 0);
    height: 100%;
    z-index: -1;
    padding-bottom: 27vh;
}


.hero-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
}

.hero-img {
  padding: 2rem;
}

#hero img {
  height: 300px;
  width: 300px;
}

p {
  font-size: 18px;
  line-height: 1.6rem;
  letter-spacing: .2px;
  font-weight: 300;
  color: #425466;
}

h2 {
  font-size: 2.3rem;
}

.bottom-padding {
  padding-bottom: 2rem;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.services-grid img {
  width: 100px;
  height: 100px;
  align-items: center;
  padding: .7rem;
}

.services-grid p {
  text-align: left;
  font-size: .9rem;
  padding: 1rem;
}

.services-grid h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

#track-record {
  clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%);
  min-height: 25vh;
  background-color: #0a2540;
  color: #fff;
}

#track-record p {
  color: #adbdcc;
}

.purpose-grid {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
}

#our-purpose img {
  width: 250px;
  height: 250px;
}

#our-purpose p {
  margin-top: 0;
}

.why-codecraft-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
.why-codecraft-grid p {
  margin-top: 0;
  font-size: .9rem;
  padding-right: 1rem;
}

.why-codecraft-grid h3 {
  font-size: 1rem;
}

.why-codecraft-grid img {
  width: 40px;
  height: 40px;
  margin-left: 0;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

#testimonials {
  padding: 6rem 0;
}

.testimonials p {
  align-items: center;
  padding: 0 7rem;
}

.get-started {
  align-items: center;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-grid {
  font-size: .9rem;
}

.footer-grid h4 {
  margin: .5rem 0;
}

.footer-grid a {
  color: #0a2540;
  text-decoration: none;
  font-size: .9rem;
  margin: .5rem 0;
}

.footer-grid a:hover {
  opacity: 0.7;
}

#footer h2 {
  border-top-style: dotted;
  border-top: 2px dotted #ccc; /* 2px solid blue line */
  padding-top: 10px; /* 10px of space between the text and the line */
  border-width: 2px;
  border-spacing: 8px;
}

#footer h2 a {
  text-decoration: none;
  color: #0a2540;
}

#footer h2:hover {
  opacity: 0.7;
}

#footer h5 {
  font-size: 1rem;
}

.socials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.socials-grid img {
  width: 50px;
  height: 50px;
  margin-left: 0;
}

.rights h5 {
  font-size: 1rem;
  margin-top: 1rem;
}