* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.app {
  /* max-width: 1420px; */
  margin: 0 auto;
}

.heading-text {
  font-size: 40px;
}

.white-text {
  color: rgb(172, 173, 174);
}

::-moz-selection {
  color: white;
  background: #b3b3d6;
}

::selection {
  color: white;
  background: #b3b3d6;
}

body {
  background-color: #d2d2d4;
}

#first {
  fill: red;
}
