* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.app {
  /* max-width: 1420px; */
  margin: 0 auto;
}

.heading-text {
  font-size: 40px;
}

.white-text {
  color: rgb(172, 173, 174);
}

::-moz-selection {
  color: white;
  background: #fb6169;
}

::selection {
  color: white;
  background: #fb6169;
}

/* body {
  background-color: #e1e1e2;
} */

hr {
  width: 70%;
  margin: 0 auto;
}
