.accordion {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
  color: inherit;
}

ion-icon[name='add-circle-outline'],
ion-icon[name='remove-circle-outline'] {
  font-size: 32px !important;
  cursor: pointer;
  flex: 0 0 50px;
}

.accordion-text {
  /* background-color: white; */
  max-height: 0px;
  overflow: hidden;
  padding: 0px 10px;
  border-radius: 16px;

  transition: all 500ms;
}
