li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.course-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

p {
  text-align: center;
}
