/* ========================================================= */

.course-cards {
  width: min(100%, 1000px);
  /* padding: 20px; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.course-cards > * {
  flex: 1 0 300px;
}

.week {
  height: 30px;
  padding: 10px;
  margin: 10px 0;
}

section {
  display: flex;
  flex-direction: column;
}

.courses-wrapper {
  /* padding-bottom: 100px; */
  overflow: hidden;
  margin-top: 30px;
}

.faq-wrapper {
  width: min(100%, 1300px);
  margin: 0 auto;
  padding: 10px 10px 50px 10px;
  color: #000;
}

.curved-top {
  border-radius: 50% 50% 0px 0px;
  padding: 20px;
  width: 100%;
  height: 140px;
  margin-bottom: -8px;
  scale: 1.1;
}

.main-title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 900px) {
  .curved-top {
    background-color: red;
    height: 50px;
  }
}

.courses-wrapper .back {
  width: min(95%, 1000px);
  margin: 0 auto;
  text-align: left;
  font-size: 22px;

  display: flex;
  align-items: center;
}
.courses-wrapper .back {
  margin-bottom: 20px;
}

.courses-wrapper .back ion-icon {
  cursor: pointer;
  margin-right: 30px;
  color: red;
  margin-left: -15px;
  font-size: 2.8rem;
}
